/*@charset "utf-8";*/

/*
 Tweaks
 */
.navbar-brand {
    height:auto;
}
#nav-notification .glyphicon-bell{
    position:relative;
}
    #nav-notification .hint {
        position:absolute;
        right:-7px;
        top:-7px;
        width:10px;
        height:10px;
        display:block;
        background:#fb503b;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        -webkit-animation: NotifyLight 3s ease-in-out infinite alternate;
        -o-animation: NotifyLight 3s ease-in-out infinite alternate;
        animation: NotifyLight 3s ease-in-out infinite alternate;
    }
    @keyframes NotifyLight {
        0% {
            background:#f00;
            opacity:.25;
            -webkit-box-shadow: 0 1px 2px rgba(255,255,255, .1);
            -moz-box-shadow: 0 1px 2px rgba(255,255,255, .1);
            box-shadow: 0 1px 2px rgba(255,255,255, .1);
        }
        100% {
            background:#fb503b;
            opacity: 1;
            -webkit-box-shadow: 0 1px 10px rgba(255,0,0, 1);
            -moz-box-shadow: 0 1px 10px rgba(255,0,0, 1);
            box-shadow: 0 1px 10px rgba(255,0,0, 1);
        }
    }
/* implement from .alert-success */
.alert-status {
    color:#3c763d;
    background-color:#dff0d8;
    border-color:#d6e9c6;
}
@media only screen and (min-width: 768px) {
    .navbar-right {
        margin-right:0;
    }
    #nav-search .input-group {
        min-width:230px;
    }
}
@media only screen and (max-width: 640px) and (orientation: portrait) {
    .hidden-portrait {
        display:none;
    }
}
@media only screen and (min-width: 480px) and (orientation: landscape) {
    .nowrap-landscape {
        white-space:nowrap;
    }
}
@media only screen and (min-width: 768px) and (orientation: landscape) {
    .block-landscape {
        display:block;
    }
}
.pager li > a, .pager li > span {
    padding:6px 12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

i.divider {
    margin-left:.25em;
    margin-right:.25em;
}
i.glyphicon, .offset-left {
    margin-right:.5em;
}
.offset-right {
    margin-left:.5em;
}
.navbar-form .glyphicon-search {
    margin-right:0;
}
.dropdown-menu > li > a.active {
    background:#f5f5f5;
}
a.caution {
    background:none;
}
.dropdown-menu a.bg-danger {
    color:#d9534f;
}
    .dropdown-menu a.bg-danger:hover {
        background:#d9534f;
        color:#fff;
    }
.dropdown-menu a.bg-primary {
    color:#337ab7;
}
    .dropdown-menu a.bg-primary:hover {
        background:#337ab7;
        color:#fff;
    }
.dropdown-menu a.bg-success {
    color:#5cb85c;
}
    .dropdown-menu a.bg-success:hover {
        background:#5cb85c;
        color:#fff;
    }
.avatar-xs {
    width:32px;
    height:32px;
    border:1px solid #eaeaea;
}
.avatar-sm {
    width:48px;
    height:48px;
    border:1px solid #eaeaea;
}
.avatar-md {
    width:64px;
    height:64px;
    border:1px solid #eaeaea;
}
.avatar-lg {
    width:96px;
    height:96px;
    border:1px solid #eaeaea;
}
.avatar-xl {
    width:128px;
    height:128px;
    border:1px solid #eaeaea;
}
.form-label {
    display:inline-block;
    vertical-align:middle;
}
/* hover animated anchor:link */
.page-content a, a.animated {
    position:relative;
    text-decoration:none;
}
    .page-content a:before, a.animated:before {
        position:absolute;
        left:0;
        bottom:-1px;
        content:'';
        width:100%;
        height:1px;
        background-color:#23527c;
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all .3s ease-in-out 0s;
        -moz-transition: all .3s ease-in-out 0s;
        -ms-transition: all .3s ease-in-out 0s;
        -o-transition: all .3s ease-in-out 0s;
        transition: all .3s ease-in-out 0s;
        visibility:hidden;
    }
    .page-content a:hover:before, a.animated:hover:before {
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
        transform: scaleX(1);
        visibility:visible;
    }
/* remove dotted outline */
a:hover, a:active, a:focus {
    outline:none;
}

/*
 Home
 */
#home-carousel {
    margin-bottom:30px;
}
#home-columns li {
    padding-bottom:.5em;
}
.btn-hasDiagram {
    position:relative;
    padding-left:46px;
}
.btn-diagram {
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    width:32px;
    height:32px;
}
.media-article {
    margin:20px 0;
    border-bottom:1px solid #eee;
    padding-bottom:20px;
}
    .media-article .media-body ul:last-child {
        margin-bottom:0;
    }
    .media-article:nth-last-of-type(1) {
        margin-bottom:0;
        border-bottom:none;
    }
.media-preview {
    border:1px solid #eaeaea;
    width:150px;
    max-height:120px;
    height:auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.media-title {
    font-weight:700;
}
    .media-title a:visited {
        color:#777;
    }
.media-labels {
    font-weight:600;
    vertical-align:middle;
    cursor:pointer;
}
a.text-muted:hover, a.text-muted:active {
    color:#5e5e5e;
    text-decoration:none;
}
.media-column {
    font-size:12px;
    border:1px solid #d9534f;
    color:#d9534f;
    padding:.2em .6em;
    white-space:nowrap;
    display:inline-block;
    -webkit-border-radius: .25em;
    -moz-border-radius: .25em;
    border-radius: .25em;
}
.media-column:hover {
    color:#c9302c;
    background-color:#fef7f6;
    border-color:#c9302c;
    text-decoration:none;
}

/*
 Column
 */
.header-media, #inline-menu {
    margin:0 0 2em;
}
#inline-menu {
    border-bottom-width:2px;
    font-weight:700;
}
    #inline-menu li {
        margin-bottom:0;
    }
    #inline-menu a {
        position:relative;
        margin-right:0;
        border:none;
        background:none;
        color:#777;
        cursor:pointer;
    }
    #inline-menu a:before {
        position:absolute;
        left:0;
        bottom:-2px;
        content:'';
        width:100%;
        height:2px;
        background-color:#444;
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all .3s ease-in-out 0s;
        -moz-transition: all .3s ease-in-out 0s;
        -ms-transition: all .3s ease-in-out 0s;
        -o-transition: all .3s ease-in-out 0s;
        transition: all .3s ease-in-out 0s;
        visibility:hidden;
    }
    #inline-menu a:hover:before, #inline-menu .active a:before {
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
        transform: scaleX(1);
        visibility:visible;
    }
    #inline-menu .active a {
        color:#444;
    }
.column-thumbnail {
    position:relative;
    margin-top:30px;
    padding:32px 20px 10px;
    background:#fcfcfc;
}
    .column-thumbnail:hover {
        background:#fafafa;
        -webkit-box-shadow: 0 5px 20px rgba(0,0,0, .1);
        -moz-box-shadow: 0 5px 20px rgba(0,0,0, .1);
        box-shadow: 0 5px 20px rgba(0,0,0, .1);
    }
    .column-thumbnail a.a {
        color:#000;
        text-decoration:none;
        display:inline-block;
    }
    .column-thumbnail a.a:hover {
        color:#777;
    }
    .column-thumbnail .icon {
        position:absolute;
        left:50%;
        margin-left:-32px;
        top:-32px;
        display:block;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        overflow:hidden;
    }

/*
 Article
 */
#tags {
    padding:1em 0;
}
#tags:before {
    content:"\6807\7B7E\FF1A";
    font-size:1em;
    color:#999;
}

.follow-form {
    display:inline;
    display:inline-block;
}
#preferences {
    margin-top:1em;
    margin-bottom:1em;
    padding-top:1em;
    padding-bottom:1em;
}
    .well .media-bottom {
        margin-top:1em;
        border-top:1px solid #eaeaea;
        padding-top:1em;
    }
#article-express .btn-group {
    margin-left:0;
}
#article-express .btn-first {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
#article-express .btn-last {
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}

/*
 Comment
 */
.btn-vote[aria-mine="true"] .glyphicon {
    color:#d9534f;
}
.vote-result {
    display:none;
}
    .btn-vote[aria-voted="true"] .vote-result {
        display:inline;
    }
.reply-form {
    margin-top:1em;
}
    .reply-form .alert {
        margin-bottom:10px;
        display:none;
    }

/*
 Subscription
 */
#aside-menu {
    position:relative;
}
#aside-menu .header {
    margin-bottom:1em;
    border-bottom:1px solid #eee;
    padding:1em 15px;
}
#aside-menu .extend {
    position:absolute;
    right:15px;
    top:1em;
}

/*
 User home
 */
#user-meta {
    margin-bottom:2em;
}
    .heading-username {
        margin:5px 0 10px;
        padding:0;
        font-weight:700;
        line-height:1em;
    }
    #user-avatar a {
        display:inline-block;
        width:auto;
    }
    @media only screen and (max-width: 480px) and (orientation: portrait) {
        #user-avatar {
            vertical-align:middle;
        }
        #user-avatar .avatar-md {
            width:80px;
            height:80px;
        }
    }
    @media only screen and (max-width: 320px) {
        #user-counts span:last-child {
            font-size: 12px;
        }
    }
    #user-buttons {
        vertical-align:middle;
    }
    #user-buttons .btn {
        margin:.25em;
    }
/* extends from well */
.well-quirk {
    border:1px solid #eee;
    border-width:0 0 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding:0 0 19px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background:none;
}
    div.well-quirk {
        margin-bottom:20px;
    }
    dl.well-quirk {
        padding-top:0;
    }
        dl.well-quirk dt {
            margin-bottom:.75em;
            font-weight:bold;
            font-size:18px;
        }
    .well-quirk:nth-last-of-type(1) {
        margin-bottom:0;
        border-bottom:none;
    }
.my-moment {
    position:relative;
    margin-bottom:20px;
    border-bottom:1px solid #eaeaea;
    padding-bottom:20px;
    background:#fff;
}
    .my-moment:nth-last-of-type(1) {
        border-bottom:none;
    }
    .my-moment .media, .my-moment .well, .my-moment blockquote {
        margin:0;
        font-size:1em;
    }
    .my-moment .media-meta {
        font-size:80%;
    }
.user-sidebar {}
    .user-sidebar dt {
        margin-bottom:.75em;
    }
    .user-sidebar dd {
        margin:.5em 0;
        vertical-align:middle;
    }

/*
 Tags
 */
ul#tags-label li {
    margin:1em 0;
    font-size:1em;
}
    .label-xs {
        font-size:100%;
    }
    .label-sm {
        font-size:120%;
    }
    .label-md {
        font-size:175%;
    }
    .label-lg {
        font-size:200%;
    }

/*
 Notification and messages
 */
.media-quirk {
    overflow:visible;
    border-bottom:1px solid #eaeaea;
    padding-bottom:.5em;
}
    .media-quirk:nth-last-of-type(1) {
        border:none;
    }
.page-header .header-back {
    font-size:12px;
}
.dialog-box {
    margin-bottom:1em;
    height:auto;
    min-height:200px;
    max-height:400px;
    padding:1em;
    overflow:hidden;
    overflow-y:auto;
}
    .dialog-box .dialog-import, .dialog-box .dialog-export {
        float:left;
        max-width:80%;
        margin-bottom:1em;
        clear:both;
    }
    .dialog-box .dialog-export {
        float:right;
    }
    .dialog-import .dialog-avatar, .dialog-import .dialog-content {
        float:left;
    }
    .dialog-export .dialog-avatar, .dialog-export .dialog-content, .dialog-export .dialog-timestamp {
        float:right;
    }
    .dialog-import .dialog-content, .dialog-export .dialog-content {
        position:relative;
        padding-left:46px;
    }
    .dialog-export .dialog-content {
        padding-left:0;
        padding-right:46px;
    }
    .dialog-import .dialog-message, .dialog-export .dialog-message {
        position:relative;
    }
    .dialog-import .dialog-message:after, .dialog-export .dialog-message:after {
        position:absolute;
        left:-7px;
        top:15px;
        content:'';
        display:block;
        width:0;
        height:0;
        border-top:7px solid transparent;
        border-bottom:7px solid transparent;
        border-right:7px solid #e3e3e3;
    }
    .dialog-export .dialog-message:after {
        left:auto;
        right:-7px;
        border:none;
        border-top:7px solid transparent;
        border-bottom:7px solid transparent;
        border-left:7px solid #e3e3e3;
    }
    .dialog-avatar {
        position:absolute;
        left:0;
        top:.5em;
    }
    .dialog-export .dialog-avatar {
        left:auto;
        right:0;
    }
    .dialog-message {
        margin-bottom:4px;
        padding:1em;
    }
.dialog-form {
    margin-top:1em;
}
    .dialog-form .alert {
        display:none;
    }

/*
 Public footer
 */
#footer-nav {
    float:right;
    list-style:none;
    text-align:right;
}
#footer-nav li {
    display:inline;
}
#footer-nav a {
    padding:0 10px;
}

/*
 Scroll to top button
 */
#scrollToTop {
    width:32px;
    height:32px;
    line-height:32px;
    display:block;
    position:fixed;
    right:10px;
    bottom:10px;
    background:rgba(0,0,0, .3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#fff;
    display:none;
}
@media only screen and (max-width: 640px) {
    #scrollToTop {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }
}
#scrollToTop:focus, #scrollToTop:hover, #scrollToTop:active {
    background:rgba(0,0,0, .5);
}