/*@charset "utf-8";*/

/*
 Tweaks
 */
.navbar-brand {
    height:auto;
}
.alert-status { /* implement from .alert-success */
    color:#3c763d;
    background-color:#dff0d8;
    border-color:#d6e9c6;
}
#navUserDropdownMenu {
    cursor:pointer;
}
.dropdown-menu .glyphicon {
    margin-right:.5em;
}
#navLogoutLink {
    color:#d9534f;
}
#navLogoutLink:hover{
    background:#d9534f;
    color:#fff;
}

@media only screen and (min-width:768px) {
    .navbar-right {
        margin-right:0;
    }
    #nav-search .input-group {
        min-width:230px;
    }
}

#home-carousel {
    margin-bottom:30px;
}

#tags {
    padding:1em 0;
}
#tags:before {
    content:"\6807\7B7E\FF1A";
    font-size:1em;
    color:#999;
}

#authorFollowForm {
    display:inline;
}
    #authorFollowForm .glyphicon {
        margin-right:.5em;
    }
#preferences {
    margin-top:1em;
    margin-bottom:1em;
    padding-top:1em;
    padding-bottom:1em;
}
#article-author .btn {
    margin-left:.5em;
}
#article-author .glyphicon {
    margin-right:.5em;
}
#author-follow {
    font-size:100%;
}
    #authorBriefFollowForm {
        display:inline;
        display:inline-block;
    }
    #authorBriefFollowForm .btn-xs {
        font-size:12px;
    }
#article-express .btn-group {
    margin-left:0;
}
#article-express .btn-first {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
#article-express .btn-last {
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}
#article-express .glyphicon {
    margin-right:.5em;
}

/*
 User home
 */
#moments {
    padding-top:2em;
    padding-bottom:1em;
}
.my-moment {
    position:relative;
}
.my-moment:after {
    content:'';
    width:4px;
    height:120%;
    display:block;
    position:absolute;
    left:1em;
    top:-10%;
    background:#daddee;
    z-index:-1;
}
.my-moment .occurred {
    margin-bottom:1em;
    border-bottom:1px solid #eaeaea;
    padding-bottom:.5em;
}

#footer-nav {
    float:right;
    list-style:none;
    text-align:right;
}
#footer-nav li {
    display:inline;
}
#footer-nav a {
    padding:0 10px;
}