/*@charset "utf-8";*/

/*
 Tweaks
 */
.navbar-brand {
    height:auto;
}
.alert-status { /* implement from .alert-success */
    color:#3c763d;
    background-color:#dff0d8;
    border-color:#d6e9c6;
}
@media only screen and (min-width:768px) {
    .navbar-right {
        margin-right:0;
    }
    #nav-search .input-group {
        min-width:230px;
    }
}
.pager li > a, .pager li > span {
    padding:6px 12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}


.dropdown-menu .glyphicon, .follow-form .glyphicon, #article-express .glyphicon, #column-tabs .glyphicon {
    margin-right:.5em;
}
.navbar-form .glyphicon-search {
    margin-right:0;
}
#navLogoutLink {
    color:#d9534f;
}
#navLogoutLink:hover{
    background:#d9534f;
    color:#fff;
}

/*
 Home
 */
#home-carousel {
    margin-bottom:30px;
}
#home-columns li {
    padding-bottom:.5em;
}
.btn-hasDiagram {
    position:relative;
    padding-left:46px;
}
.btn-diagram {
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    width:32px;
    height:32px;
}
.media:last-child hr {
    display:none;
}
.media-preview {
    width:150px;
    max-height:120px;
    height:auto;
}
.media-title {
    font-weight:700;
}
    .media-title a:visited {
        color:#777;
    }
a.text-muted:hover, a.text-muted:active {
    color:#5e5e5e;
    text-decoration:none;
}
.media-column {
    font-size:12px;
    border:1px solid #d9534f;
    color:#d9534f;
    padding:.2em .6em;
    white-space:nowrap;
    display:inline-block;
    -webkit-border-radius: .25em;
    -moz-border-radius: .25em;
    border-radius: .25em;
}
.media-column:hover {
    color:#c9302c;
    background-color:#fef7f6;
    border-color:#c9302c;
    text-decoration:none;
}

/*
 Column
 */
#column-header, #column-tabs {
    margin:0 0 2em;
}
#column-tabs {
    border-bottom-width:2px;
    font-weight:700;
}
    #column-tabs li {
        margin-bottom:-2px;
    }
    #column-tabs a {
        border:none;
        color:#777;
    }
    #column-tabs a:focus, #column-tabs a:hover, #column-tabs .active a {
        background:none;
        border-bottom:2px solid #000;
    }
    #column-tabs .active a {
        color:#444;
    }

/*
 Article
 */
#tags {
    padding:1em 0;
}
#tags:before {
    content:"\6807\7B7E\FF1A";
    font-size:1em;
    color:#999;
}

.follow-form {
    display:inline;
    display:inline-block;
}
#preferences {
    margin-top:1em;
    margin-bottom:1em;
    padding-top:1em;
    padding-bottom:1em;
}
#article-author .btn {
    margin-left:.5em;
}
#author-follow {
    font-size:100%;
}
    #authorBriefFollowForm .btn-xs {
        font-size:12px;
    }
#article-express .btn-group {
    margin-left:0;
}
#article-express .btn-first {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
#article-express .btn-last {
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}

/*
 User home
 */
#user-avatar a {
    /*display:inline-block;
    width:auto;*/
}
#user-statistics h1 {
    margin-top:10px;
}
#user-statistics .row div {
    margin-bottom:6px;
}
#user-statistics .count {
    display:block;
}
#user-brief {
    margin-top:10px;
}
    #user-brief .label {
        font-weight:600;
        vertical-align:middle;
        cursor:pointer;
    }
#user-moments {
    padding-top:2em;
    padding-bottom:1em;
}
.my-moment {
    position:relative;
}
.my-moment:after {
    content:'';
    width:4px;
    height:120%;
    display:block;
    position:absolute;
    left:1em;
    top:-10%;
    background:#daddee;
    z-index:-1;
}
.my-moment .occurred {
    margin-bottom:1em;
    border-bottom:1px solid #eaeaea;
    padding-bottom:.5em;
}

#footer-nav {
    float:right;
    list-style:none;
    text-align:right;
}
#footer-nav li {
    display:inline;
}
#footer-nav a {
    padding:0 10px;
}