/*@charset "utf-8";*/

/*
 Tweaks
 */
.navbar-brand {
    height:auto;
}
.alert-status { /* implement from .alert-success */
    color:#3c763d;
    background-color:#dff0d8;
    border-color:#d6e9c6;
}
#navUserDropdownMenu {
    cursor:pointer;
}
.dropdown-menu .glyphicon {
    margin-right:.5em;
}
#navLogoutLink {
    color:#d9534f;
}
#navLogoutLink:hover{
    background:#d9534f;
    color:#fff;
}

@media only screen and (min-width:768px) {
    .navbar-right {
        margin-right:0;
    }
    #nav-search .input-group {
        min-width:230px;
    }
}

#home-carousel {
    margin-bottom:30px;
}

#tags {
    padding:1em 0;
}
#tags:before {
    content:"\6807\7B7E\FF1A";
    font-size:1em;
    color:#999;
}

#footer-nav {
    float:right;
    list-style:none;
    text-align:right;
}
#footer-nav li {
    display:inline;
}
#footer-nav a {
    padding:0 10px;
}