/*@charset "utf-8";*/

/*
 Tweaks
 */
.navbar-brand {
    height:auto;
}
.alert-status { /* implement from .alert-success */
    color:#3c763d;
    background-color:#dff0d8;
    border-color:#d6e9c6;
}
@media only screen and (min-width: 768px) {
    .navbar-right {
        margin-right:0;
    }
    #nav-search .input-group {
        min-width:230px;
    }
}
@media only screen and (max-width: 640px) and (orientation: portrait) {
    .hidden-portrait {
        display:none;
    }
}
@media only screen and (min-width: 480px) and (orientation: landscape) {
    .nowrap-landscape {
        white-space:nowrap;
    }
}
@media only screen and (min-width: 768px) and (orientation: landscape) {
    .block-landscape {
        display:block;
    }
}
.pager li > a, .pager li > span {
    padding:6px 12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

i.divider {
    margin-left:.25em;
    margin-right:.25em;
}
i.glyphicon, .offset-left {
    margin-right:.5em;
}
.offset-right {
    margin-left:.5em;
}
.navbar-form .glyphicon-search {
    margin-right:0;
}
.dropdown-menu > li > a.active {
    background:#f5f5f5;
}
#navLogoutLink {
    color:#d9534f;
}
#navLogoutLink:hover{
    background:#d9534f;
    color:#fff;
}

/*
 Home
 */
#home-carousel {
    margin-bottom:30px;
}
#home-columns li {
    padding-bottom:.5em;
}
.btn-hasDiagram {
    position:relative;
    padding-left:46px;
}
.btn-diagram {
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    width:32px;
    height:32px;
}
.media-article {
    margin:20px 0;
    border-bottom:1px solid #eee;
    padding-bottom:20px;
}
    .media-article .media-body :last-child {
        margin-bottom:0;
    }
    .media-article:last-child {
        border-bottom:none;
    }
.media-preview {
    width:150px;
    max-height:120px;
    height:auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.media-title {
    font-weight:700;
}
    .media-title a:visited {
        color:#777;
    }
a.text-muted:hover, a.text-muted:active {
    color:#5e5e5e;
    text-decoration:none;
}
.media-column {
    font-size:12px;
    border:1px solid #d9534f;
    color:#d9534f;
    padding:.2em .6em;
    white-space:nowrap;
    display:inline-block;
    -webkit-border-radius: .25em;
    -moz-border-radius: .25em;
    border-radius: .25em;
}
.media-column:hover {
    color:#c9302c;
    background-color:#fef7f6;
    border-color:#c9302c;
    text-decoration:none;
}

/*
 Column
 */
#column-header, #inline-menu {
    margin:0 0 2em;
}
#column-header img {
    width:64px;
    height:64px;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    border-radius: 10%;
}
#inline-menu {
    border-bottom-width:2px;
    font-weight:700;
}
    #inline-menu li {
        margin-bottom:-2px;
    }
    #inline-menu a {
        border:none;
        color:#777;
        cursor:pointer;
    }
    #inline-menu a:focus, #inline-menu a:hover, #inline-menu .active a {
        background:none;
        border-bottom:2px solid #000;
    }
    #inline-menu .active a {
        color:#444;
    }
.column-thumbnail {
    position:relative;
    margin-top:30px;
    padding:32px 20px 10px;
    background:#fcfcfc;
}
    .column-thumbnail:hover {
        background:#fafafa;
        -webkit-box-shadow: 0 5px 20px rgba(0,0,0, .1);
        -moz-box-shadow: 0 5px 20px rgba(0,0,0, .1);
        box-shadow: 0 5px 20px rgba(0,0,0, .1);
    }
    .column-thumbnail a.a {
        color:#000;
        text-decoration:none;
        display:inline-block;
    }
    .column-thumbnail a.a:hover {
        color:#777;
    }
    .column-thumbnail .icon {
        position:absolute;
        left:50%;
        margin-left:-32px;
        top:-32px;
        display:block;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        overflow:hidden;
    }
    .column-thumbnail img {
        width:64px;
        height:64px;
    }

/*
 Article
 */
#tags {
    padding:1em 0;
}
#tags:before {
    content:"\6807\7B7E\FF1A";
    font-size:1em;
    color:#999;
}

.follow-form {
    display:inline;
    display:inline-block;
}
#preferences {
    margin-top:1em;
    margin-bottom:1em;
    padding-top:1em;
    padding-bottom:1em;
}
#article-brief .btn, #article-author .btn {
    margin-left:.5em;
}
#author-follow {
    font-size:100%;
}
    #authorBriefFollowForm .btn-xs {
        font-size:12px;
    }
#article-express .btn-group {
    margin-left:0;
}
#article-express .btn-first {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
#article-express .btn-last {
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}

/*
 Subscription
 */
#aside-menu {
    /*border-right:1px solid #eee;*/
    position:relative;
}
#aside-menu .header {
    margin-bottom:1em;
    border-bottom:1px solid #eee;
    padding:1em 15px;
}
#aside-menu .extend {
    position:absolute;
    right:15px;
    top:1em;
}
.header-media {
    margin-bottom:2em;
}

/*
 User home
 */
#user-meta {
    margin-bottom:2em;
}
    #user-avatar a {
        display:inline-block;
        width:auto;
    }
    #user-name {
        margin:.25em 0 .5em;
        font-weight:700;
        font-size:20px;
    }
    @media only screen and (max-width: 320px) {
        #user-counts span:last-child {
            font-size: 12px;
        }
    }
    #user-buttons {
        vertical-align:middle;
    }
    #user-buttons .btn {
        margin:.25em;
    }
.well-quirk { /* extends from well */
    border:1px solid #eee;
    border-width:0 0 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding:0 0 19px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background:none;
}
    dl.well-quirk {
        padding-top:0;
    }
    div.well-quirk {
        margin-bottom:20px;
    }
        dl.well-quirk dt {
            margin-bottom:.75em;
            font-weight:bold;
            font-size:18px;
        }
    .well-quirk :last-child {
        margin-top:.5em;
    }
    .well-quirk:last-child {
        margin-bottom:0;
        border-bottom:none;
    }
.my-moment {
    position:relative;
}
.my-moment:after {
    content:'';
    width:4px;
    height:120%;
    display:block;
    position:absolute;
    left:1em;
    top:-10%;
    background:#daddee;
    z-index:-1;
}
.my-moment .occurred {
    margin-bottom:1em;
    border-bottom:1px solid #eaeaea;
    padding-bottom:.5em;
}
.user-sidebar {}
    .user-sidebar dt {
        margin-bottom:.75em;
    }
    .user-sidebar dd {
        margin:.5em 0;
        vertical-align:middle;
    }
    .user-sidebar .label {
        font-weight:600;
        vertical-align:middle;
        cursor:pointer;
    }

#footer-nav {
    float:right;
    list-style:none;
    text-align:right;
}
#footer-nav li {
    display:inline;
}
#footer-nav a {
    padding:0 10px;
}