/*@charset "utf-8";*/

/*
 Tweaks
 */
.navbar-brand {
    height:auto;
}
.alert-status { /* implement from .alert-success */
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

@media only screen and (min-width: 768px) {
    .navbar-right {
        margin-right: 0;
    }
    #nav-search .input-group {
        min-width:230px;
    }
}

#tagcloud {
    padding:1em 0;
}
#tagcloud:before {
    content:"\6807\7B7E\FF1A";
    font-size:1em;
    color:#999;
}

#footer-nav {
    float:right;
    list-style:none;
    text-align:right;
}
#footer-nav li {
    display:inline;
}
#footer-nav a {
    padding:0 10px;
}