/*@charset "utf-8";*/

/*
 Tweaks
 */
.navbar-brand {
    height:auto;
}

@media only screen and (min-width: 768px) {
    .navbar-right {
        margin-right: 0;
    }
    #nav-search .input-group {
        min-width:230px;
    }
}

#footer-nav {
    float:right;
    list-style:none;
    text-align:right;
}
#footer-nav li {
    display:inline;
}
#footer-nav a {
    padding:0 10px;
}