/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */ }

body {
  padding-top: 70px; }

footer {
  padding: 30px 0; }

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    transition: all .25s ease-out; }
  .row-offcanvas-right {
    right: 0; }
  .row-offcanvas-left {
    left: 0; }
  .row-offcanvas-right
.sidebar-offcanvas {
    right: -50%;
    /* 6 columns */ }
  .row-offcanvas-left
.sidebar-offcanvas {
    left: -50%;
    /* 6 columns */ }
  .row-offcanvas-right.active {
    right: 50%;
    /* 6 columns */ }
  .row-offcanvas-left.active {
    left: 50%;
    /* 6 columns */ }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
    /* 6 columns */ } }

/*@charset "utf-8";*/
/*
 Tweaks
 */
.navbar-brand {
  height: auto; }

/* implement from .alert-success */
.alert-status {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6; }

@media only screen and (min-width: 768px) {
  .navbar-right {
    margin-right: 0; }
  #nav-search .input-group {
    min-width: 230px; } }

@media only screen and (max-width: 640px) and (orientation: portrait) {
  .hidden-portrait {
    display: none; } }

@media only screen and (min-width: 480px) and (orientation: landscape) {
  .nowrap-landscape {
    white-space: nowrap; } }

@media only screen and (min-width: 768px) and (orientation: landscape) {
  .block-landscape {
    display: block; } }

.pager li > a, .pager li > span {
  padding: 6px 12px;
  border-radius: 4px; }

i.divider {
  margin-left: .25em;
  margin-right: .25em; }

i.glyphicon, .offset-left {
  margin-right: .5em; }

.offset-right {
  margin-left: .5em; }

.navbar-form .glyphicon-search {
  margin-right: 0; }

.dropdown-menu > li > a.active {
  background: #f5f5f5; }

a.caution {
  background: none; }

.dropdown-menu a.bg-danger {
  color: #d9534f; }

.dropdown-menu a.bg-danger:hover {
  background: #d9534f;
  color: #fff; }

.dropdown-menu a.bg-primary {
  color: #337ab7; }

.dropdown-menu a.bg-primary:hover {
  background: #337ab7;
  color: #fff; }

.dropdown-menu a.bg-success {
  color: #5cb85c; }

.dropdown-menu a.bg-success:hover {
  background: #5cb85c;
  color: #fff; }

.avatar-xs {
  width: 32px;
  height: 32px;
  border: 1px solid #eaeaea; }

.avatar-sm {
  width: 48px;
  height: 48px;
  border: 1px solid #eaeaea; }

.avatar-md {
  width: 64px;
  height: 64px;
  border: 1px solid #eaeaea; }

.avatar-lg {
  width: 96px;
  height: 96px;
  border: 1px solid #eaeaea; }

.avatar-xl {
  width: 128px;
  height: 128px;
  border: 1px solid #eaeaea; }

.form-label {
  display: inline-block;
  vertical-align: middle; }

/* hover animated anchor:link */
.page-content a, a.animated {
  position: relative;
  text-decoration: none; }

.page-content a:before, a.animated:before {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #23527c;
  transform: scaleX(0);
  transition: all .3s ease-in-out 0s;
  visibility: hidden; }

.page-content a:hover:before, a.animated:hover:before {
  transform: scaleX(1);
  visibility: visible; }

/* remove dotted outline */
a:hover, a:active, a:focus {
  outline: none; }

/*
 Home
 */
#home-carousel {
  margin-bottom: 30px; }

#home-columns li {
  padding-bottom: .5em; }

.btn-hasDiagram {
  position: relative;
  padding-left: 46px; }

.btn-diagram {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 4px 0 0 4px;
  width: 32px;
  height: 32px; }

.media-article {
  margin: 20px 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px; }

.media-article .media-body :last-child {
  margin-bottom: 0; }

.media-article:last-child {
  border-bottom: none; }

.media-preview {
  border: 1px solid #eaeaea;
  width: 150px;
  max-height: 120px;
  height: auto;
  border-radius: 4px; }

.media-title {
  font-weight: 700; }

.media-title a:visited {
  color: #777; }

.media-labels {
  font-weight: 600;
  vertical-align: middle;
  cursor: pointer; }

a.text-muted:hover, a.text-muted:active {
  color: #5e5e5e;
  text-decoration: none; }

.media-column {
  font-size: 12px;
  border: 1px solid #d9534f;
  color: #d9534f;
  padding: .2em .6em;
  white-space: nowrap;
  display: inline-block;
  border-radius: .25em; }

.media-column:hover {
  color: #c9302c;
  background-color: #fef7f6;
  border-color: #c9302c;
  text-decoration: none; }

/*
 Column
 */
.header-media, #inline-menu {
  margin: 0 0 2em; }

#inline-menu {
  border-bottom-width: 2px;
  font-weight: 700; }

#inline-menu li {
  margin-bottom: 0; }

#inline-menu a {
  position: relative;
  margin-right: 0;
  border: none;
  background: none;
  color: #777;
  cursor: pointer; }

#inline-menu a:before {
  position: absolute;
  left: 0;
  bottom: -2px;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #444;
  transform: scaleX(0);
  transition: all .3s ease-in-out 0s;
  visibility: hidden; }

#inline-menu a:hover:before, #inline-menu .active a:before {
  transform: scaleX(1);
  visibility: visible; }

#inline-menu .active a {
  color: #444; }

.column-thumbnail {
  position: relative;
  margin-top: 30px;
  padding: 32px 20px 10px;
  background: #fcfcfc; }

.column-thumbnail:hover {
  background: #fafafa;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1); }

.column-thumbnail a.a {
  color: #000;
  text-decoration: none;
  display: inline-block; }

.column-thumbnail a.a:hover {
  color: #777; }

.column-thumbnail .icon {
  position: absolute;
  left: 50%;
  margin-left: -32px;
  top: -32px;
  display: block;
  border-radius: 8px;
  overflow: hidden; }

/*
 Article
 */
#tags {
  padding: 1em 0; }

#tags:before {
  content: "\6807\7B7E\FF1A";
  font-size: 1em;
  color: #999; }

.follow-form {
  display: inline;
  display: inline-block; }

#preferences {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em; }

.well .media-bottom {
  margin-top: 1em;
  border-top: 1px solid #eaeaea;
  padding-top: 1em; }

#article-express .btn-group {
  margin-left: 0; }

#article-express .btn-first {
  border-radius: 3px 0 0 3px; }

#article-express .btn-last {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

/*
 Subscription
 */
#aside-menu {
  position: relative; }

#aside-menu .header {
  margin-bottom: 1em;
  border-bottom: 1px solid #eee;
  padding: 1em 15px; }

#aside-menu .extend {
  position: absolute;
  right: 15px;
  top: 1em; }

/*
 User home
 */
#user-meta {
  margin-bottom: 2em; }

.heading-username {
  margin: 5px 0 10px;
  padding: 0;
  font-weight: 700;
  line-height: 1em; }

#user-avatar a {
  display: inline-block;
  width: auto; }

@media only screen and (max-width: 480px) and (orientation: portrait) {
  #user-avatar {
    vertical-align: middle; }
  #user-avatar .avatar-md {
    width: 80px;
    height: 80px; } }

@media only screen and (max-width: 320px) {
  #user-counts span:last-child {
    font-size: 12px; } }

#user-buttons {
  vertical-align: middle; }

#user-buttons .btn {
  margin: .25em; }

/* extends from well */
.well-quirk {
  border: 1px solid #eee;
  border-width: 0 0 1px;
  border-radius: 0;
  padding: 0 0 19px;
  box-shadow: none;
  background: none; }

dl.well-quirk {
  padding-top: 0; }

div.well-quirk {
  margin-bottom: 20px; }

dl.well-quirk dt {
  margin-bottom: .75em;
  font-weight: bold;
  font-size: 18px; }

.well-quirk :last-child {
  margin-top: .5em; }

.well-quirk:last-child {
  margin-bottom: 0;
  border-bottom: none; }

.my-moment {
  position: relative;
  margin-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 20px;
  background: #fff; }

.my-moment:last-child {
  border-bottom: none; }

.my-moment .moment-driver .avatar-xs {
  border: 1px solid #eaeaea; }

.my-moment .media, .my-moment .well, .my-moment blockquote {
  margin: 0;
  font-size: 1em; }

.my-moment .media-meta {
  font-size: 80%; }

.user-sidebar dt {
  margin-bottom: .75em; }

.user-sidebar dd {
  margin: .5em 0;
  vertical-align: middle; }

/*
 Tags
 */
ul#tags-label li {
  margin: 1em 0;
  font-size: 1em; }

.label-xs {
  font-size: 100%; }

.label-sm {
  font-size: 120%; }

.label-md {
  font-size: 175%; }

.label-lg {
  font-size: 200%; }

/*
 Notification and messages
 */
.media-quirk {
  overflow: visible;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: .5em; }

.media-quirk:nth-last-of-type(1) {
  border: none; }

#footer-nav {
  float: right;
  list-style: none;
  text-align: right; }

#footer-nav li {
  display: inline; }

#footer-nav a {
  padding: 0 10px; }
